* {
    box-sizing: border-box;
}

.attackcolor {
    text-shadow: 2px 2px black;
    color: red;
}

body {
    background-color: #4f5055;
}

.countercolor {
    text-shadow: 2px 2px black;
    color: blue;
}

.darth-maul {
    padding-bottom: 30px;
}

h2 {
    color: white;
}

h6 {
    font-size: 12px;
}

header {
    margin-bottom: 0px;

}

header img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

header h1 {
    font-family: monospace;
}

.healthcolor {
    text-shadow: 2px 2px black;
    color: #2ff923;
}

.img-fluid {
    width: 250px;
    height: auto;
}